<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img class="w-50 h-70 img-thumbnailvdml" src="images/me3.jpg" alt="Third slide">
                            <!-- <img src="images/me1.JPG" alt="Atul" class="img-fluid w-10" title="Atul Garg"> -->
                        </figure>
                    </div>
                    <!-- Left div. -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app.</p>
                        <h1>I am a <span class="span_clr">Web developer</span> in Java and JS.</h1>
                        <a href="https://www.linkedin.com/in/atul-garg-a3b514173" target="_atul"><button>About Me</button></a>
                    </div>
                    <!-- Right div. -->
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>